
body{
    background-color: cornflowerblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
}
p{
    color:cornflowerblue;
}
#gd{
    color: cornflowerblue;
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
}
.red{
    color: red;
}